/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header 
.header__header__info {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .header { 
    text-align: center;
  }

}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.todo__task {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}

.todo__wrapp-add {
  display: flex;
}

ul {
  margin: 0;
  padding: 0px;
}

li, 
h3 {
  list-style: none;
}

input,
button{
  outline: none;
}

.todo__button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.todo__button {
  color: #3a3a3a;
}

/* Heading */
.todo__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.todo__task__input-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.todo__task__input-text:focus {
  color: #333;
}

/* New Task */
.todo__title__task {
  display: block;
  margin: 0 0 20px;
}

#new-task {
  width: 318px;
}
.todo__button:hover {
  color: #1be292;
}
/* Task list */
.todo__list-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo__list-item > * {
  vertical-align: middle;
}

.todo__checkbox{
  margin: 0 10px;
}

.todo__label__task {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.todo__list-item > .todo__task__input-text {
  width: 226px;
}

.todo__button__delete:hover {
  color: #cf2323;
}

.todo__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.todo__img:hover {
  transform: rotateZ(0);
}

/* Completed */
#wrap-compl label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.todo__list-item .todo__task__input-text {
  display: none;
}

.edit-mode .todo__task__input-text {
  display: inline-block;
  width: 224px;
}

.edit-mode label {
  display: none;
}